body {
    width: 70%;
    margin:auto;
}

figcaption {
    font-style: italic;
}

h1, h2, h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1.5em;
}

h1 {
    size: 32px;
}

table, th, td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

figure {
    float: right;
    margin: 20px;
}