body {
    margin: 0px auto; /*Расстояние от края элемента до края окна браузера*/
    font-family: Roboto, sans-serif; /*Устанавливает семейство шрифта*/
  }
  /*Тело сайта*/
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0; /*Расстояние от края элемента до края другог элемента*/
    font-weight: 500;
  }

header{
    position:fixed;
    width: 100%;
    padding: 20px 0px;
    background-color: #007765;
    height: 85px;
    box-sizing: border-box;  
}

h1, h2, p, a, span, .watermark{
    font-style: normal;
}

h1, h2, h3, a, span, .watermark{
    text-align: center;
}

h1, h3, a, span, .watermark{
    color: #FFFFFF;
}

h1{
    font-size: 72px;
    line-height: 84px;
}

h2
{
    font-size: 64px;
    line-height: 75px;
    color: #007765;
    padding-top: 48px;
    padding-bottom: 16px;
}

h3{
    font-size: 48px;
    line-height: 56px;
    font-style: italic;
    margin: auto;
    max-width: 1219px;
    padding-left: 163px;
    padding-right: 163px;
    
    box-sizing: border-box; 
    
}

.watermark{
    margin: auto;
    width: 1219px;
    padding-left: 340px;
    padding-right: 340px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    box-sizing: border-box; 
}

p{
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    color: #000000;
    margin-top: 0px;
}

.main_container
{
    max-width: 1219px;
    margin: auto;
    height: 45px;
    box-sizing: border-box; 
    overflow: hidden;
    padding: 0px 55px 0px 54px;
    font-size: 0px;
}

.logo {
    width: 184px;
    height: 45px;
}

.navigation_logo{
    display: inline-block;
    vertical-align: middle;
    height: 45px;
  }

.navigation{
    display: inline-block;
    height: 29px;
    
    padding: 0px 0px 0px 502px;
    
    box-sizing: border-box; 
    
    vertical-align: middle;
    font-size: 0px;
    
    /* 
    float: right;
    */
  }


.navigation > a, .navigation > span {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.navigation > span {
    margin: 0px 8px;
}

.content{
    overflow: hidden;
}

.section_1{
    background: url(img/main\ image.png) center no-repeat;
    background-size: cover; /*Масштабирует фоновое изображение, согласно заданным размерам*/
    padding: 160px 0px;
    margin-top: 84px;
}

.section_2, .section_4 {
    max-width:1219px;
    padding: 0px 55px 60px;
    margin: auto;
    
    box-sizing: border-box; 
}

.section_3{
    background: url(img/section\ 3\ image.png) center no-repeat;
    background-size: cover; /*Масштабирует фоновое изображение, согласно заданным размерам*/
    padding-top: 128px;
    padding-bottom: 128px;
    
  background-position: center center;
}

.container {
    box-sizing: border-box;
    max-width: 1219px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
}

.container > .message{
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #fff;
}

.section_4 > .logo{
    width: 115px;
    height: 115px;
    float: left;
    padding-right: 48px;
}

.section_5{
    background-color: #EEEEEE;
}

.img1,.img2, .img3 {
    width: 350px;
    height: 283px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img1{
    margin-right: 15px;
}

.img2{
    margin: 0px 15px;
}

.img3{
    margin-left: 15px;
}

.team_member{
    width: 168px;
    height: 168px;
}

.name{
    padding-top: 12px;
    color: #007765;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.job{
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

figure{
    margin: 0px;
    padding: 40px 0px 122px;
    font-size:0px;
}

.team_section {
    padding: 0px 54px 0px 55px;
    margin: auto;
    max-width: 1219px;
    
    box-sizing: border-box; 
}

.row1{
    margin-bottom: 82px;
}

.row2{
    margin-top: 0px;
}

.section_6{
    background-color: #333333;
    padding-top: 48px;
    padding-bottom: 64px;
}

a.anchor {
    display: block;
    position: relative;
    top: -84px;
    visibility: hidden;
}

a{
    text-decoration: none;
}
