body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    overflow-x: hidden;
}

header {
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
}

.buttons {
    margin-right: 8px;
}

@media screen and (min-width: 992px) {

    header,
    footer {
        padding: 0px 81px;
    }

    .restaurants_container{
        padding-left: 81px;
        padding-right: 81px;
        padding-bottom: 64px;
    }

    .image_container>a>img {
        height: 40px;
    }
    

    .footer_container2 {
        padding: 16px 0px 48px;
    }

    .footer_container3 {
        padding: 40px 0px;
    }

    .app_store {
        padding-right: 40px;
    }

    .up_button>a>img{
        width: 80px;
        height: 80px;
    }

    .restaurant_description{
        padding: 38px;
    }

    h1{
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        color: #1D1D1D;
        margin: 0px 0px 54px;
    }

    p.restaurant_time{
        font-size: 13px;
        line-height: 15px;
    }

    .restaurant_container{
        padding-top: 25px;
    }

    main.restaurant{
        height: 364px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    header,
    footer {
        padding: 0px 8px;
    }

    .restaurants_container {
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 32px;
    }

    .image_container>a>img {
        height: 40px;
    }

    .footer_container2 {
        padding: 16px 0px 48px;
    }

    .footer_container3 {
        padding: 40px 0px;
    }

    .app_store {
        padding-right: 40px;
    }

    .up_button>a>img{
        width: 80px;
        height: 80px;
    }

    .restaurant_description{
        padding: 38px 52px 38px 48px;
    }

    h1{
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        color: #1D1D1D;
        margin: 0px 0px 54px;
    }

    p.restaurant_time{
        font-size: 12px;
        line-height: 14px;
    }

    .restaurant_container{
        padding-top: 25px;
    }

    main.restaurant{
        height: 364px;
    }
}

@media screen and (max-width: 767px) {

    header,
    footer {
        padding: 0px 8px;
    }

    .restaurants_container {
        padding-left: 8px;
        padding-right: 4px;
        padding-bottom: 32px;
    }

    .restaurants_container {
        padding: 127px 4px 32px 8px;
    }

    .image_container>a>img {
        height: 36px;
    }

    .footer_container2 {
        padding: 16px 0px 40px;
    }

    .footer_container3 {
        padding: 24px 0px;
    }

    .app_store {
        padding-right: 24px;
    }

    .up_button>a>img{
        width: 64px;
        height: 64px;
    }

    .restaurant_description{
        padding: 24px;
    }

    h1{
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #1D1D1D;
        margin: 0px 0px 40px;
    }

    p.restaurant_time{
        font-size: 12px;
        line-height: 14px;
    }

    p.restaurant_price{
        padding-bottom: 16px;
    }

    .restaurant_container{
        padding-top: 76px;
    }
}

.navbar {
    height: 72px;
}

img.basket {
    height: 22px;
    width: 19px;
    padding-left: 27px;
}

button.enter {
    padding: 7px 20px;
    border: 1px solid #E0E0E0;
    background-color: white;
    border-radius: 2px;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: #1D1D1D;
}

.logo {
    display: flex;
    align-content: center;
}

input {
    width: 100%;
    color: #1D1D1D;
    outline: 0;
    border-style: none;
    border-bottom: 1px solid rgba(117, 117, 117, 0.3);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 3px 0px;
}


::placeholder {
    color: rgba(98, 98, 98, 0.5);
}

h3 {
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #1D1D1D;
    margin-bottom: 16px;
}

.title {
    margin-top: 34px;
}

h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
    margin-top: 16px;
    margin-bottom: 2px;
}

img.restaurant {
    width: 100%;
}

p {
    margin: 2px 0px;
    font-weight: 400;
    line-height: 21px;
}

p.description {
    font-size: 14px;
    color: #626262;
}

p.time {
    font-size: 13px;
    color: #1D1D1D;
}

.restaurant_card {
    padding-bottom: 18px;
    margin-bottom: 16px;
}

footer {
    background-color: #262626;
    padding-top: 16px;
}

footer>.logo>.logo {
    margin: 56px 0px 0px;
}

hr {
    border-style: none;

    line-height: 1px;
}

select {
    background: url(img/if_icon-ios7-arrow-back_211686.svg) 93% / 8% no-repeat#3b3b3b;
    color: white;

    border: 0px solid #3B3B3B;
    border-radius: 2px;
    padding: 12px 0px 12px 48px;

    height: 40px;
    appearance: none;
    width: 100%;

    font-weight: 400;
    line-height: 15px;
    font-size: 13px;
}

.footer_container, .footer_container4 {
    padding: 40px 0px;
}

.footer_container4 {
    padding-bottom: 16px;
}

.footer_container, .footer_container2, .footer_container3{
    border-bottom: 1px solid #979797;
}


.social>img {
    position: relative;
    top: 32px;
    left: 16px;
}

.hashtag {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
    padding-top: 32px;
}

.hashtag:before {
    color: #49A144;
    content: "#";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.facebook {
    padding-top: 17px;
}

.twitter {
    padding: 0px 4px 0px 8px;
}

.social_networks {
    margin-bottom: 8px;
}

.link>a {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: white;
}

.link {
    padding-top: 23px;
}

p {
    margin: 0px;
}

.copyright, .doc>a {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: white;
}

a{
    text-decoration: none;
}

.doc{
    padding-bottom: 24px;
}

.image_container{
    padding-left: 16px;
}

.up_button{
    position: fixed;
    bottom: 24px;
    right: 16px;
}

main{
    margin-top: 72px;
    overflow-x: hidden;
}

main.restaurant{
    background: url("img/pushkin.png") no-repeat;
}

.restaurants_container{
    padding-top: 55px;
}

.restaurant_description{
    background: white;
    box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
}

p.restaurant_time{
    background: #262626;
    border-radius: 16px;
    padding: 8px 16px;
    color: white;
    font-weight: 400;
    display: inline-block;
}

main.restaurant{
    background-size: 100%;
}