body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    overflow-x: hidden;
}

header {
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
}

.buttons {
    margin-right: 8px;
}

@media screen and (min-width: 992px) {
    header {
        padding: 0px 81px;
    }

    .main {
        padding: 128px 81px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    header {
        padding: 0px 8px;
    }

    .main {
        padding: 127px 8px;
    }
}

@media screen and (max-width: 767px) {
    header {
        padding: 0px 8px;
    }

    .main {
        margin: 127px 4px 0px 8px;
    }
}

.navbar {
    height: 72px;
}

img.basket {
    height: 22px;
    width: 19px;
    padding-left: 27px;
}

button.enter {
    padding: 7px 20px;
    border: 1px solid #E0E0E0;
    background-color: white;
    border-radius: 2px;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: #1D1D1D;
}

.logo {
    display: flex;
    align-content: center;
}

input {
    width: 100%;
    color: #1D1D1D;
    opacity: 1;
    outline: 0;
    border-style: none;
    border-bottom: 1px solid rgba(117, 117, 117, 0.3);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 3px 0px;
}


::placeholder {
    color: #626262;
    opacity: 0.5;
}

h3 {
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #1D1D1D;
    margin-bottom: 16px;
}

.title {
    margin-top: 34px;
}

h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
    margin-top: 16px;
    margin-bottom: 2px;
}

img.restaurant {
    width: 100%;
}

p {
    margin: 2px 0px;
    font-weight: 400;
    line-height: 21px;
}

p.description{
    font-size: 14px;
    color: #626262;
}

p.time{
    font-size: 13px;
    color: #1D1D1D;
}

.restaurant_card{
    padding-bottom: 18px;
    margin-bottom: 16px;
}

