body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    overflow: hidden;
}

header {
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.buttons {
    margin-right: 8px;
}

@media screen and (min-width: 992px) {
    header {
        padding: 0px 81px;
    }

    .main {
        padding: 56px 81px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    header {
        padding: 0px 8px;
    }

    .main {
        padding: 55px 8px;
    }

}

@media screen and (max-width: 767px) {
    header {
        padding: 0px 8px;
    }

    div.basket {
        display: none;
    }

    .main {
        margin: 55px 4px 0px 8px;
    }
}

.navbar {
    height: 72px;

}

img.basket {
    height: 22px;
    width: 19px;
    padding-left: 27px;
}

button.enter {
    padding: 7px 20px;
    border: 1px solid #E0E0E0;
    background-color: white;
    border-radius: 2px;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: #1D1D1D;
}

.logo {
    display: flex;
    align-content: center;
}

input {
    width: 100%;
    color: #1D1D1D;
    opacity: 1;
    outline: 0;
    border-style: none;
    border-bottom: 1px solid rgba(117, 117, 117, 0.3);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 3px 0px;
}


::placeholder {
    color: #626262;
    opacity: 0.5;
}

h3 {
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #1D1D1D;
}

.title{
    margin-top: 34px; 
}